ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__OracleDb=
PublicBaseUrl=
HGB_PII_ENCRYPTION_KEY=
HGB_TOKEN_HASH_SALT=
HGB_WEBHOOK_API_KEY=
HGB_WEBHOOK_HMAC_SECRET=
PROBEL_SMS_BASE_URL=
PROBEL_SMS_API_KEY=
PROBEL_SMS_BEARER_TOKEN=
WHATSAPP_BASE_URL=
WHATSAPP_BEARER_TOKEN=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
PROBEL_BI_BASE_URL=
PROBEL_BI_BEARER_TOKEN=
Branding__HospitalName=
Branding__HospitalType=Devlet Hastanesi
Branding__HospitalUnitName=Kalite ve Hasta Deneyimi Birimi
Branding__UseOfficialProbelBrand=true
Branding__PublicQuickLinks__MHRS=https://www.mhrs.gov.tr/
Branding__PublicQuickLinks__e-Nabiz=https://enabiz.gov.tr/
Branding__PublicQuickLinks__SABIM_184=tel:184
Branding__PublicQuickLinks__Acil_112=tel:112
Branding__PublicQuickLinks__CIMER=https://www.cimer.gov.tr/
